.logCont {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: dimgrey;
  font-size: 1.5em;
}

.logForm {
  color: black;
  border: dimgrey solid 1px;
  border-radius: 10px;
  box-shadow: bisque 0 0 100px 1px;
  margin-left: 20vw;
  padding: 1vh 1vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logInput {
  margin: 1vh 0;
  width: 20vw;
  height: 3.5vh;
  border: 1px solid;
  border-radius: 2px;
  text-indent: 10px;
}
.logInput::placeholder {
  opacity: 0.5;
}
.inpLabel {
  font-size: 0.8em;
  color: grey;
  align-self: start;
  margin-top: 3vh;
}
.passLabel {
  margin-bottom: 2vh;
}
.logSub {
  font-size: 1em;
  width: 20.3vw;
  height: 4vh;
  margin: 2vh 0;
  background-color: black;
  color: whitesmoke;
  border-radius: 2px;
  transition-duration: 0.3s;
}
.logSub:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 1px grey;
}
.formOffer {
  text-align: center;
  font-size: 0.7em;
  margin: 2vh 0;
}
.registerBtn {
  color: black;
  cursor: pointer;
}

.logImg {
  width: 50vw;
  height: 63.5vh;
}
